{% extends 'base.html' %} {% load static %} {% block content %}
{% load static %}
<div class="container">
    <h3 class="display-3 text-center my-2 pb-3 font-monospace">{{ project.title }}</h3>


    {% if project.owner == user.profile %}
    <div class="d-flex align-items-center justify-content-center pb-5">
        <a href="{% url 'project-form-page-update' %}?page=update&id={{project.id}}"
            class="btn btn-outline-light px-4 mx-4 shadow text-dark">EDIT
            <span class="ps-1"><i class="fas fa-edit"></i></span>
        </a>

        <button class="btn btn-outline-light px-4 mx-4 shadow text-dark" data-bs-toggle="modal"
            data-bs-target="#modalVertical">DELETE
            <span class="ps-1"><i class="fas fa-trash"></i></span>
        </button>
        <div class="modal fade" id="modalVertical" tabindex="-1" aria-labelledby="modalVerticalTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalVerticalTitle">{{project.title}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="lead">Are you sure you want to delete this project?</p>
                    </div>
                    <div class="modal-footer">
                        <form action="" method='POST'>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                        </form>

                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endif %}


    <div class="row">
        <div class="col col-12 col-md-7">

            {% if project.project_image %}
            <img src="{{ project.project_image.url }}" class="img-fluid w-75 shadow rounded" id="project-image-h"
                alt="Project Image" />
            {% else %}
            <img src="{% static 'images/default_project.png' %}" class="img-fluid w-75 w-md-75 shadow rounded"
                id="project-image-h" alt="Project Image" />
            {% endif %}



            <div class="row py-4 my-4">

                {% if project.live_link %}
                <div class="col col-6 text-md-center">
                    <a href="{{ project.live_link }}"
                        class="btn btn-outline-light px-4 py-2 shadow text-dark p-md-2">VIEW LIVE
                        <span class="ps-1"><i class="fas fa-eye"></i></span>
                    </a>
                </div>
                {% endif %}

                {% if project.code_link %}
                <div class="col col-6">
                    <a href="{{ project.code_link }}"
                        class="btn btn-outline-light px-4 py-2 shadow text-dark p-md-2">SEE CODE
                        <span class="ps-1"><i class="fas fa-code"></i></span>
                    </a>
                </div>
                {% endif %}

            </div>
        </div>

        <div class="col col-12 col-md-5">
            {% if project.project_state %}
            <span class="bg-success px-3 py-1 rounded shadow text-light">Completed</span>
            {% else %}
            <span class="bg-success  px-3 py-1 rounded shadow text-light">Working</span>
            {% endif %}
            <p class="my-1">Published on {{ project.created_at }}</p>

            {% if project.description %}
            <p class="lead fs-3 my-4">{{ project.description }}</p>
            {% else %}
            <p class="lead fs-3 my-4">Please add a description to the project.</p>
            {% endif %}


            {% for skill in project.skill.all %}
            <a href="{% url 'single-skill-page' skill.skill.id %}" class="btn btn-light text-dark shadow my-2">
                {{ skill.skill.title }}
                <span class="badge bg-primary text-light">{{ skill.skill.skill_level }}</span>
            </a>
            {% endfor %}

        </div>
    </div>


    

    {% if project.owner == user.profile %}
    <hr>
    <div class="my-5 rounded">
        <h3 class="display-3 text-center mb-4">Notes

            <a href="{% url 'note-form-page' project.id %}?object=project" class="mx-3 btn btn-success fs-5"><i
                    class="fas fa-plus fa-2xl"></i></a>

        </h3>
        <div class="row my-2">

            {% for note in project.note.all %}
            <div class="col-12 col-md-6 my-3">
                <div class="rounded shadow p-3">
                    <h5 class="display-5 font-monospace d-inline-block">{{ note.title }}</h5>
                    <div class="text-center d-inline-block float-end">
                        <span class="rounded px-2 py-1 mx-2 shadow"><i class="fas fa-heart pe-2"></i>{{ note.like.count }}</span>
                        <span class="rounded px-2 py-1 mx-2 shadow"><i class="fas fa-comment pe-2"></i>{{ note.comment.count }}</span>
                    </div>
                    <p class="lead my-2">{{ note.body|slice:"100" }}</p>
                    <div class="text-center"><a href="{% url 'single-note-page' note.id %}"
                            class="btn btn-outline-light mt-2 px-4 shadow-lg text-dark">READ</a></div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

</div>




{% endblock %}