{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-2">
    <div class="card w-100 mx-auto">

        <div class="card-body">
            <h4 class="card-title text-center display-4 font-monospace">{{ note.title }}</h4>


            {% if request.user.profile == note.owner %}
            <div class="d-flex align-items-center justify-content-center pb-5">
                <a href="{% url 'note-form-page-update' note.id %}"
                    class="btn btn-outline-light px-4 mx-4 shadow text-dark">EDIT
                    <span class="ps-1"><i class="fas fa-edit"></i></span>
                </a>

                <button class="btn btn-outline-light px-4 mx-4 shadow text-dark" data-bs-toggle="modal"
                    data-bs-target="#modalVertical">DELETE
                    <span class="ps-1"><i class="fas fa-trash"></i></span>
                </button>
                <div class="modal fade" id="modalVertical" tabindex="-1" aria-labelledby="modalVerticalTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalVerticalTitle">{{note.title}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="lead">Are you sure you want to delete this note?</p>
                            </div>
                            <div class="modal-footer">
                                <form action="" method='POST'>
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-danger" name="action"
                                        value="delete">Delete</button>
                                </form>

                                <button type="button" class="btn btn-outline-dark"
                                    data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% endif %}


            {% if note.note_image %}
            <div class="text-center"><img src="{{ note.note_image.url }}" class="img-fluid w-75 rounded"
                    id="note-image-h" alt="Note Image" /></div>
            {% else %}

            <div class="text-center"><img src="{% static 'images/default_note.png' %}" class="img-fluid w-75 rounded"
                    id="note-image-h" alt="Note Image" /></div>
            {% endif %}

            <figure class="py-3">
                <blockquote class="blockquote">
                    <p class="lead">{{ note.body|linebreaksbr }}
                </blockquote>
                <figcaption class="blockquote-footer mt-2">By
                    <cite title="Source Title">{{ note.owner }}</cite>
                    Published on {{ note.created_at }}
                </figcaption>
            </figure>

            <div class="row mb-4">
                <div class="col col-6 text-center">

                    <form action="" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn shadow px-4 py-2" name="action" value="like">{{ like_count }}
                            <i class="fas fa-heart ps-2"></i> </button>
                    </form>
                </div>

                <div class="col col-6 text-center">
                    <button class="btn shadow px-4 py-2">{{ comment_count }} <i class="fas fa-comment ps-2"></i> </button>
                </div>
            </div>
        </div>
    </div>
    <div class="rounded">
        
        {% if request.user.profile != note.owner %}
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary py-2 px-4 mt-1 mb-3" name="action" value="comment-create">Comment</button>
        </form>
        {% endif %}

        <div class=" shadow rounded my-3">
            <h3 class="display-3 text-center text-muted py-2">Feedback</h3>

            {% if comments %}
        {% for comment in comments %}
        <div class="py-1 px-3">
            <h4 class="text-primary">{{ comment.owner.username }}</h4>
            <p class="lead">{{ comment.body }}</p>
            <hr>
        </div>
        {% endfor %}
        {% else %}
        <div class="py-1 px-3">
            <p class="lead">There are currently no feedbacks for this note.</p>
        </div>
        {% endif %}
    </div>

    </div>

</div>
{% endblock %}