{% extends 'base.html' %}
{% block content %}

<div class="container pt-5">
    <div class="card shadow rounded p-4 w-75 mx-auto">

        {% if user.profile == profile %}
      <h3 class="display-3 my-3 text-uppercase text-center">Update Your Profile</h3>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
            <h5>{{ field.label }}</h5>
            {{ field }}
            {% endfor %}

            <div class="mt-4"><button type="submit" class="btn btn-primary">Update</button></div>
        </form>
        {% else %}
        <p class="lead my-3 text-uppercase text-center">You are not authorized to view this page's content</p>
        {% endif %}

    </div>
</div>

{% endblock %}