{% extends 'base.html' %}
{% block content %}

<div class="container py-2 px-3">
    {% if profile.first_name %}
    <h3 class="display-3 text-center text-uppercase font-monospace">{{ profile.first_name }}</h3>
    {% else %}
    <h3 class="display-3 text-center text-uppercase font-monospace">{{ profile.username }}</h3>
    {% endif %}

    {% if user.profile == profile %}
    <div class="text-center"><a href="{% url 'account-update-page' profile.username %}"
            class="btn btn-light px-2 py-1 shadow mb-3">EDIT PROFILE<i class="fas fa-edit ps-2"></i></a></div>
    {% endif %}




    <div class="row my-2">
        <div class="col col-12 col-md-6 p-2">
            <img src="{{ profile.profile_image.url }}" alt="Profile Image" class="img-fluid rounded-circle mb-3">

            <div class="text-center">
                {% if profile.portfolio_site %}
                <a href="{{ profile.portfolio_site }}" class="btn btn-light rounded-circle shadow" target="_blank"><i
                        class="fas fa-user fa-2xl text-dark pe-2"></i></a>
                {% endif %}

                {% if profile.facebook %}
                <a href="{{ profile.facebook }}" class="btn btn-light rounded-circle shadow" target="_blank"><i
                        class="fa-brands fa-facebook fa-2xl text-primary ps-2"></i></a>
                {% endif %}

                {% if profile.linkedin %}
                <a href="{{ profile.linkedin }}" class="btn btn-light rounded-circle shadow" target="_blank"><i
                        class="fa-brands fa-linkedin fa-2xl text-info ps-2"></i></a>
                {% endif %}

                {% if profile.youtube %}
                <a href="{{ profile.youtube }}" class="btn btn-light rounded-circle shadow" target="_blank"><i
                        class="fa-brands fa-youtube fa-2xl text-danger ps-2"></i></a>
                {% endif %}

            </div>

        </div>

        <div class="col col-12 col-md-6 px-4 py-2">
            <button class="btn btn-success mt-5 mb-2">{{ profile.username }} <span class="badge bg-light text-dark">{{ profile.coin }} <i class="fas fa-coins"></i> </span></button>
            <a href="{% url 'skill-page' %}" class="btn btn-success mt-5 mb-2">skill <span class="badge bg-light text-dark">{{ skill_count }}</span></a>
            <a href="{% url 'project-page' %}" class="btn btn-success mt-5 mb-2">project <span class="badge bg-light text-dark">{{ project_count }}</span></a>
            <a href="{% url 'note-page' %}" class="btn btn-success mt-5 mb-2 d-none d-md-inline-block">note <span class="badge bg-light text-dark">{{ note_count }}</span></a>
            

            {% if profile.bio %}
            <p class="lead py-2">{{ profile.bio }}</p>
            {% else %}
            <p class="lead py-2">User has not added anything to his/her bio yet.</p>
            {% endif %}

            {% if user.profile != profile %}
            <a href="{% url 'message-form-page' profile.username %}" class="btn btn-success mt-5 mb-2">MESSAGE <i class="fas fa-message"></i></a>
            {% endif %}

            {% if profile.email %}
            <p>Want to send me an email instead? Send it at <code>{{ profile.email }}</code></p>
            {% endif %}

        </div>


    </div>
</div>

{% endblock %}