{% extends 'base.html' %}
{% load static%}
{% block content %}

<div class="container py-2 px-3">
    {% if profile.first_name %}
    <h3 class="display-3 text-center text-uppercase font-monospace">{{ profile.first_name }}</h3>
    {% else %}
    <h3 class="display-3 text-center text-uppercase font-monospace">{{ profile.username }}</h3>
    {% endif %}

    {% if user.profile == profile %}
    <div class="text-center"><a href="{% url 'account-update-page' profile.username %}"
            class="btn btn-light px-2 py-1 shadow mb-3">EDIT PROFILE<i class="fas fa-edit ps-2"></i></a></div>
    {% endif %}




    <div class="row my-2">
        <div class="col col-12 col-md-6 p-2">
            <img src="{{ profile.profile_image.url }}" alt="Profile Image" id="profile-image" class="img-fluid mb-3 shadow img-thumbnail">

            <div class="text-center my-2">
                {% if profile.portfolio_site %}
                <a href="{{ profile.portfolio_site }}" class="btn btn-light rounded-circle shadow" target="_blank"><i
                        class="fas fa-user fa-2xl text-dark pe-2"></i></a>
                {% endif %}

                {% if profile.facebook %}
                <a href="{{ profile.facebook }}" class="btn btn-light rounded-circle shadow" target="_blank"><i
                        class="fa-brands fa-facebook fa-2xl text-primary ps-2"></i></a>
                {% endif %}

                {% if profile.linkedin %}
                <a href="{{ profile.linkedin }}" class="btn btn-light rounded-circle shadow" target="_blank"><i
                        class="fa-brands fa-linkedin fa-2xl text-info ps-2"></i></a>
                {% endif %}

                {% if profile.youtube %}
                <a href="{{ profile.youtube }}" class="btn btn-light rounded-circle shadow" target="_blank"><i
                        class="fa-brands fa-youtube fa-2xl text-danger ps-2"></i></a>
                {% endif %}

            </div>

        </div>

        <div class="col col-12 col-md-6 px-4 py-2 mt-5">
            <button class="btn btn-success  mb-2">{{ profile.username }} <span class="badge bg-light text-dark">{{ profile.coin }} <i class="fas fa-coins"></i> </span></button>
            <a href="{% url 'skill-page' %}" class="btn btn-success mb-2">skill <span class="badge bg-light text-dark">{{ skill_count }}</span></a>
            <a href="{% url 'project-page' %}" class="btn btn-success mb-2">project <span class="badge bg-light text-dark">{{ project_count }}</span></a>
            <a href="{% url 'note-page' %}" class="btn btn-success mb-2">note <span class="badge bg-light text-dark">{{ note_count }}</span></a>
            

            {% if profile.bio %}
            <p class="lead py-2">{{ profile.bio }}</p>
            {% else %}
            <p class="lead py-2">User has not added anything to his/her bio yet.</p>
            {% endif %}

            {% if user.profile != profile %}
            <a href="{% url 'message-form-page' profile.username %}" class="btn btn-success mt-5 mb-2">MESSAGE <i class="fas fa-message"></i></a>
            {% endif %}

            {% if profile.email %}
            <p>Want to send me an email? Send it at <code>{{ profile.email }}</code></p>
            {% endif %}

        </div>


    </div>




    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button type="button" id="tabFade-1" class="nav-link active fs-3 font-monospace" data-bs-toggle="tab" data-bs-target="#tabFade-pane-1" role="tab" aria-controls="tabFade-pane-1" aria-selected="true">Projects</button>
        </li>

        <li class="nav-item" role="presentation">
          <button type="button" id="tabFade-2" class="nav-link fs-3 font-monospace" data-bs-toggle="tab" data-bs-target="#tabFade-pane-2" role="tab" aria-controls="tabFade-pane-2" aria-selected="false">Featured Notes</button>
        </li>
        
      </ul>


      <div class="tab-content">

        <div id="tabFade-pane-1" class="tab-pane fade show active" role="tabpanel" aria-labelledby="tabFade-1">
          
        {% if my_projects %}
        {% for project in my_projects %}


        <div class="col col-12 col-md-6">
            <div class="card p-2 mx-3 my-3" id="project-page-card">
                {% if project.project_image %}
                <img src="{{ project.project_image.url }}" class="img-fluid w-100 shadow rounded" id="project-image-h"
                    alt="Project Image" />
                {% else %}
                <img src="{% static 'images/default_project.png' %}" class="img-fluid w-100 shadow rounded"
                    id="project-image-h" alt="Project Image" />
                {% endif %}

                <div class="card-body text-white">
                    <h1 class="card-title display-5">{{ project.title }}
                        {% if project.project_state != True %}
                        <span class="fs-1"><i class="fas fa-circle fa-sm fa-fade text-light"></i></span>
                        {% endif %}
                    </h1>



                    {% for skill in project.skill.all %}
                    <a href="{% url 'single-skill-page' skill.skill.id %}" class="btn btn-sm btn-light text-dark">
                        {{ skill.skill.title }}
                        <span class="badge bg-primary text-light">{{ skill.skill.skill_level }}</span>
                    </a>
                    {% endfor %}

                    {% if project.description %}
                    <p class="lead"> {{ project.description }}</p>
                    {% else %}
                    <p class="lead">Please add a description to the project.</p>
                    {% endif %}


                    <div class="text-center"><a href="{% url 'single-project-page' project.id %}"
                            class="btn btn-sm btn-outline-light py-1 px-3 fs-5 mt-4 shadow">VIEW PROJECT
                            <span><i class="fas fa-eye"></i></span>
                        </a></div>

                </div>
            </div>

        </div>

        {% endfor %}
        {% else %}
        <p class="lead text-center my-4">There are no projects to showcase.</p>
        {% endif %}
        
        </div>


        <div id="tabFade-pane-2" class="tab-pane fade" role="tabpanel" aria-labelledby="tabFade-2">

            {% if my_notes %}
<div class="row">
            {% for featured_note in my_notes %}
            <div class="col col-12 col-md-6">
                <div class="card p-2 mx-3 my-3" id="project-page-card">
                  {% if featured_note.note.note_image %}
                  <img
                    src="{{ featured_note.note.note_image.url }}"
                    class="img-fluid w-100 shadow rounded"
                    id="note-image-h"
                    alt="Note Image"
                  />
                  {% else %}
                  <img
                    src="{% static 'images/default_note.png' %}"
                    class="img-fluid w-100 shadow rounded"
                    id="note-image-h"
                    alt="Note Image"
                  />
                  {% endif %}
          
                  <div class="card-body text-white">
                    <div class="row">
                      <h3 class="col col-12 col-md-9 card-title font-monospace">{{ featured_note.note.title }}</h3>
          
                      <div class="col col-12 col-md-3 pb-2 pt-0 pt-md-2">
                        <span class="p-1 mx-1 rounded shadow">{{ featured_note.note.like.count }} <i class="fas fa-heart"></i></span>
                        <span class="p-1 mx-1 rounded shadow">{{ featured_note.note.comment.count }} <i class="fas fa-comment"></i></span>
                      </div>
                    </div>
                    
                    <figure class="py-1 py-md-3">
                      <blockquote class="blockquote">
                        <p class="lead">{{ featured_note.note.body|slice:"60" }}
                      </blockquote>
                      <figcaption class="blockquote-footer text-light">Written by
                        <a href="{% url 'account-page' featured_note.note.owner.username %}" class="fs-5 text-light"><cite title="Source Title">{{ featured_note.note.owner }}</cite></a>
                      </figcaption>
                    </figure>
          
          
                    
                    <div class="text-center">
                      <a
                        href="{% url 'single-note-page' featured_note.note.id %}"
                        class="btn btn-sm btn-outline-light py-2 px-2 shadow me-1"
                        >READ NOTE
                        <span><i class="fas fa-book px-2"></i></span>
                      </a>

                      <form action="" method="POST" class="d-inline-block">
                        {% csrf_token %}
                        <button class="btn btn-sm btn-outline-light py-2 px-2 shadow" name="action" value="unfeature-{{ featured_note.id }}">UNFEATURE <i class="fas fa-trash"></i></button>
                      </form>
                          
          
                  </div>
          
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>

            {% else %}
            <p class="lead text-center my-4">There are no notes to showcase.</p>
            {% endif %}
          </div>
    
      </div>




</div>

{% endblock %}