{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
  <div class="py-3 px-3 shadow-sm">

    {% if user.is_authenticated %}
    <h5 class="display-5 text-center">What skills are you learning today <span class="shadow rounded px-3 py-0 py-md-1 bg-primary text-light"> {{ request.user }}</span></h5>
    <p class="text-center lead fs-3 py-3">Keep track of your progress easily. Make progress by adding skills to your
      projects!</p>
      {% else %}
      <h5 class="display-5 text-center">Welcome to <span class="shadow rounded px-3 bg-primary text-light">KeepTrack</span></h5>
      <h5 class="display-5 text-center">Create an account and Join the community now!</h5>
      {% endif %}

  </div>
  <div class="row py-5 py-md-2">
    <div class="col-7 my-auto">
      <div class="row gy-5">
        <div class="text-center"><a href="{% url 'project-form-page-create' %}?page=create"
            class="col btn btn-outline-danger px-5 py-2 py-md-4 fs-5">Add a Project</a></div>
        <div class="text-center"><a href="{% url 'skill-form-page' %}"
            class="col btn btn-outline-danger px-5 py-2 py-md-4 fs-5">Add a Skill</a></div>
      </div>
    </div>
    <div class="col-5">
      <img src="{% static 'images/work-animation.gif' %}" class="img-fluid my-5"
        alt="">
    </div>
  </div>





  <div class="my-2 py-2  px-3 shadow-sm rounded">



    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button type="button" id="tabFade-1" class="nav-link active fs-3 font-monospace" data-bs-toggle="tab" data-bs-target="#tabFade-pane-1" role="tab" aria-controls="tabFade-pane-1" aria-selected="true">Latest Featured Notes</button>
      </li>
      <li class="nav-item" role="presentation">
        <button type="button" id="tabFade-2" class="nav-link fs-3 font-monospace" data-bs-toggle="tab" data-bs-target="#tabFade-pane-2" role="tab" aria-controls="tabFade-pane-2" aria-selected="false">Popular Featured Notes</button>
      </li>
      
    </ul>

    <div class="tab-content">

      
      <div id="tabFade-pane-1" class="tab-pane fade show active" role="tabpanel" aria-labelledby="tabFade-1">

        <h4 class="display-4 text-center my-5">Latest Featured Notes</h4>

        {% if latest_queryset %}
        <div class="row">
          {% for featured_note in latest_queryset %}
          <div class="col col-12 col-md-6">
            <div class="card p-2 mx-3 my-3" id="project-page-card">
              {% if featured_note.note.note_image %}
              <img src="{{ featured_note.note.note_image.url }}" class="img-fluid w-100 shadow rounded" id="note-image-h"
                alt="Note Image" />
              {% else %}
              <img src="{% static 'images/default_note.png' %}" class="img-fluid w-100 shadow rounded" id="note-image-h"
                alt="Note Image" />
              {% endif %}
    
              <div class="card-body text-white">
                <div class="row">
                  <h3 class="col col-12 col-md-9 card-title font-monospace">{{ featured_note.note.title }}</h3>
    
                  <div class="col col-12 col-md-3 pb-2 pt-0 pt-md-2">
                    <span class="p-1 mx-1 rounded shadow">{{ featured_note.note.like.count }} <i
                        class="fas fa-heart"></i></span>
                    <span class="p-1 mx-1 rounded shadow">{{ featured_note.note.comment.count }} <i
                        class="fas fa-comment"></i></span>
                  </div>
                </div>
    
                <p>Published on {{ featured_note.note.created_at }}</p>
    
    
                <figure class="py-1 py-md-3">
                  <blockquote class="blockquote">
                    <p class="lead">{{ featured_note.note.body|slice:"60" }}
                  </blockquote>
                  <figcaption class="blockquote-footer text-light">Written by
                    <a href="{% url 'account-page' featured_note.note.owner.username %}" class="fs-5 text-light"><cite title="Source Title">{{ featured_note.note.owner }}</cite></a>
                  </figcaption>
                </figure>
    
    
    
                <div class="text-center">
                  <a href="{% url 'single-note-page' featured_note.note.id %}"
                    class="btn btn-outline-light py-2 px-3 shadow">READ NOTE
                    <span><i class="fas fa-book px-2"></i></span>
                  </a>
                </div>
    
    
              </div>
            </div>
          </div>
          {% endfor %}
    
        </div>
        {% else %}
        <p class="lead text-center">There are currently no notes featured by users.</p>
        {% endif %}
      </div>



      <div id="tabFade-pane-2" class="tab-pane fade" role="tabpanel" aria-labelledby="tabFade-2">
        
        <h4 class="display-4 text-center my-5">Popular Featured Notes</h4>

        {% if popular_queryset %}
        <div class="row">
          {% for featured_note in popular_queryset %}
          <div class="col col-12 col-md-6">
            <div class="card p-2 mx-3 my-3" id="project-page-card">
              {% if featured_note.note.note_image %}
              <img src="{{ featured_note.note.note_image.url }}" class="img-fluid w-100 shadow rounded" id="note-image-h"
                alt="Note Image" />
              {% else %}
              <img src="{% static 'images/default_note.png' %}" class="img-fluid w-100 shadow rounded" id="note-image-h"
                alt="Note Image" />
              {% endif %}
    
              <div class="card-body text-white">
                <div class="row">
                  <h3 class="col col-12 col-md-9 card-title font-monospace">{{ featured_note.note.title }}</h3>
    
                  <div class="col col-12 col-md-3 pb-2 pt-0 pt-md-2">
                    <span class="p-1 mx-1 rounded shadow">{{ featured_note.note.like.count }} <i
                        class="fas fa-heart"></i></span>
                    <span class="p-1 mx-1 rounded shadow">{{ featured_note.note.comment.count }} <i
                        class="fas fa-comment"></i></span>
                  </div>
                </div>
    
                <p>Published on {{ featured_note.note.created_at }}</p>
    
    
                <figure class="py-1 py-md-3">
                  <blockquote class="blockquote">
                    <p class="lead">{{ featured_note.note.body|slice:"60" }}
                  </blockquote>
                  <figcaption class="blockquote-footer text-light">Written by
                    <a href="{% url 'account-page' featured_note.note.owner.username %}" class="fs-5 text-light"><cite title="Source Title">{{ featured_note.note.owner }}</cite></a>
                  </figcaption>
                </figure>
    
    
    
                <div class="text-center">
                  <a href="{% url 'single-note-page' featured_note.note.id %}"
                    class="btn btn-outline-light py-2 px-3 shadow">READ NOTE
                    <span><i class="fas fa-book px-2"></i></span>
                  </a>
                </div>
    
    
              </div>
            </div>
          </div>
          {% endfor %}
    
        </div>
        {% else %}
        <p class="lead text-center">There are currently no notes featured by users.</p>
        {% endif %}
      </div>

        </div>


      


    </div>









    






</div>


{% endblock %}