{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="d-flex justify-content-center align-items-center pb-5">

    

    <h3 class="display-3 text-center px-3"> My Current Skills</h3>

  </div>

{% if queryset %}
  {% for skill in queryset %}
  <a href="{% url 'single-skill-page' skill.id %}" class="text-reset text-decoration-none">
    <div class="card text-white mb-5 mx-auto w-75 " id="skill-page-card">
      <div class="card-body">
        <h3 class="card-title d-inline">{{skill.title}}</h3>

        <p class="fs-6"><code class="text-light">{{skill.skill_type}}</code></p>
        <p class="fs-6">Started learning on {{ skill.started_learning }}</p>


        <p class="text-center display-2 pb-3">Level {{skill.skill_level}} </p>



        <div class="progress my-3">
          <div class="progress-bar w-{{ skill.current_point }} progress-bar-striped progress-bar-animated"
            role="progressbar" aria-valuenow="{{ skill.current_point }}" aria-valuemin="0" aria-valuemax="100"
            style="background-color:#6f68a9;">{{ skill.current_point }} Points</div>
        </div>

        <p class="fs-6 text-center ">{{ skill.needed_point }} more points to reach next Level. Earn points by adding
          skill related projects and notes.</p>

      </div>
    </div>
  </a>
  {% endfor %}
  {% else %}
  <p class="text-center lead">You do not have any skill yet.</p>
  {% endif %}

  <a href="{% url 'skill-form-page' %}" class="btn p-5 my-5" id="skill-page-btn">+</a>
</div>

{% endblock %}